@tailwind base;
@tailwind components;
@tailwind utilities;


.input-back {
    @apply input bg-primary-focus;
    margin: -8px 0px 0px 0px;
}

.input:focus {
	outline: none;
}

.input-back-disabled, .input-back[disabled] {
    @apply input bg-primary-focus;
    cursor: pointer;
    background-color: hsl(var(--pf, var(--p)) / 0.5)
}